<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="row">
                <div class="col-8 offset-2 p-2">
                    <button class="btn btn-sm btn-primary" @click="showContainer = !showContainer">Aç/Kapat</button>
                    {{ showContainer }}
            
                    <h1 v-if="!showContainer" class="text-danger">Başlangıçta gözükecek</h1>
                    <h1 v-if="showContainer" class="text-info">Sonra gözükecek</h1>
                    <!-- <h1 v-else class="text-info">Sonra gözükecek</h1> -->
                    <!-- aynı düzeyde bulundukları için if else yapısı şeklinde de kullanılabiliyor -->
                    <hr>
                    
                    <h3 :class="counterBoxClass">{{ counter }}</h3> 
                    <button class="btn btn-sm btn-success" @click="counter++">Arttır</button>
                    <button class="btn btn-sm btn-danger" @click="counter--">Azalt</button>
                    <p v-if="counter > 0">Counter Pozitif</p>
                    <p v-else-if="counter < 0">Counter Negatif</p>
                    <p v-else>Counter Nötr</p>

                    <hr>

                    <p v-show="counter > 0">Counter Pozitif</p>
                    <p v-show="counter < 0">Counter Negatif</p>
                    <p v-show="counter == 0">Counter Nötr</p>
                </div>
            </div>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>